.contenedor-principal{
    width: 100%;
    display: flex;
}

.border-2{
    margin-right: 1%;
    margin-left: 1%;
    margin-top: 10px;
    border:  #ce7032d5 3px solid;
    width: 73%;
}

.secciones{
    height: 100%;
}

aside{
    width: 25%;
    height: 100%;
}

aside img{
    width: 100%;
}

aside h2{
    font-size: 16pt;
}

aside input{
    width: 90%;
}

aside textarea{
    width: 90%;
    height: 110px;
    max-width: 275px;
}

.contenido h2{
    text-align: left;
}

.contenido ul li{
    list-style: disc;
}

.contenido img{
    width: 100%;
}

#nosotros h2{
    text-align: center;
}