@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600&display=swap');

body{
    margin: 0;
    padding: 0;
}

h2{
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
}

h3, h4{
    font-family: 'Oswald', sans-serif;
}

p, li{
    font-family: 'Montserrat', sans-serif;
}

.contenedor{
    width: 90%;
    max-width: 1280px;
    margin: auto;
}

.menu img{
    width: 14%;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

header{
    background: url(imagenes/fondito\ pal\ header.jpg);
    background-size: cover;
    height: 100vh;
}

#otros{
    background: url(imagenes/fondito\ pal\ header.jpg);
    background-size: center;
    height: 60vh;
    border-bottom: #ce7032d5 12px solid;
}

.menu{
    display: flex;
    justify-content: space-between;
}

.menu ul li a:hover{
	background: #000;
	color:#fff
}

header ul{
    display: flex;
}

header ul li{
    background-color: #fff;
}

header ul li a{
    color: #000;
    padding: 10px 20px;
}

.Titular{
    width: 300px;
    background: #ce7032ad;
    margin-left: 18vh;
    text-align: center;
    padding: 4px 12px 20px 12px;
}

.Titular h1{
    color: #fff;
    font-size: 36pt;
    text-align: left;
}

.Titular p{
    color: #fff;
    font-size: 13pt;
    text-align: left;
}

.Titular h4{
    color: #fff;
    text-align: left;
}

.Titular a{
    color: #fff;
    background: #000;
    padding: 10px 20px;
}

.Titular a:hover{
	background: rgba(83, 79, 79, 0.747);
	color:#fff
}

#QuienesSomosInicio .contenedor{
    width: 90%;
    display: flex;
    margin-top: 20px;
}

#QuienesSomosInicio img{
    width: 100%;
}

#QuienesSomosInicio .texto{
    width: 100%;
    margin-top: 85px;
    text-align: center;
}

#QuienesSomosInicio h2{
    font-size: 30pt;
}

#QuienesSomosInicio p{
    font-size: 14pt;
    text-align: left;
}

#QuienesSomosInicio a{
    padding: 10px 20px;
    background-color: #ce7032d5;
    color: #000;
}

#QuienesSomosInicio a:hover{
    background-color: #8d3800ef;
    color: #fff;
}

h2{
    text-align: center;
    font-size: 40px;
}

h2, h3 {
    font-weight: normal;
}

.contenedor-ingrediente{
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}

.ingrediente{
    width: 30%;
    background-color: rgb(238, 237, 237);
    padding: 10px 15px;
}

.ingrediente img{
    width: 100%;
}

.ingrediente p{
    font-size: 13pt;
    line-height: 20px;
}

#ingredientes .contenedor a{
    padding: 10px 20px;
    background-color: #ce7032d5;
    color: #000;
}

#ingredientes .contenedor a:hover{
    background-color: #8d3800ef;
    color: #fff;
}

#video{
    margin-top: 80px;
    text-align: center;
    border-left: #ce7032d5 12px solid;
    border-right: #ce7032d5 12px solid;
}

#video2{
    margin-top: 30px;
    margin-left: 28%;
}

slider{
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgb(238, 237, 237);
    overflow: hidden;
    position: absolute;
    margin-top: 50px;
}

slider > *{
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgb(238, 237, 237);
    animation: slide 12s infinite;
    overflow: hidden;
}

slide:nth-child(1) {
    left: 0%;
    animation-delay: -1s;
    background-image: url(imagenes/colegio.jpg);
    background-size: cover;
    background-position: center;
}

slide:nth-child(2) {
    animation-delay: 2s;
    background-image: url(imagenes/logo.png);
    background-size: 90%;
    background-position: center;
}

slide:nth-child(3) {
    animation-delay: 5s;
    background-image: url(imagenes/logocolegio.png);
    background-size: 80%;
    background-position: center;
}

slide:nth-child(4) {
    animation-delay: 8s;
    background-image: url(imagenes/biblioteca.jpg);
    background-size: cover;
    background-position: center;
}

slide p{
    font-size: 70px;
    text-align: center;
    display: inline-block;
    width: 100%;
    margin-top: 300px;
    color: #fff;
}

@keyframes slide{
    0% {left: 100%; width: 100%;}
    5% {left: 0%;}
    25%{left: 0%;}
    30% {left: -100%; width: 100%;}
    30.0001% {left: -100%; width: 0%;}
    100% {left: 100%; width: 0%;}
}

footer{
    margin-top: 700px;
    position: absolute;
    width: 100%;
    color: #fff;
    background: #000;
    padding: 30px 0px 0px 0px;
}

footer .contenedor{
    display: flex;
    justify-content: space-between;
}

footer ul li{
    margin-top: 10px;
}

footer ul li a{
    color: #fff;
}

footer .redes{
    padding-top: 50px;
    padding-right: 40px;
    size: 64px;
}

footer .redes a{
    color: #fff;
    margin-left: 17px;
}

#rese単ahistorica{
    margin: 20px 50px;
    font-size: 16pt;
    text-align: center;
}

.border{
    margin: 0px 30px;
    border-left: #ce7032d5 12px solid;
    border-right: #ce7032d5 12px solid;
}

#footerotros{
    margin-top: 12px;
    position: absolute;
    width: 100%;
    color: #fff;
    background: #000;
    padding: 30px 0px 0px 0px;
}

#footerotros .contenedor{
    display: flex;
    justify-content: space-between;
}

#footerotros ul li{
    margin-top: 10px;
}

#footerotros ul li a{
    color: #fff;
}

#footerotros .redes{
    padding-top: 50px;
    padding-right: 40px;
    size: 64px;
}

#footerotros .redes a{
    color: #fff;
    margin-left: 17px;
}

#miviva{
    margin: 0px 50px;
}

#miviva .contenedor{
    display: flex;
    justify-content: space-between;
}

#miviva img{
    width: 30%;
    margin-left: 10px;
}

#miviva ul li{
    list-style: circle;
    font-size: 14pt;
}

#miviva p{
    font-size: 14pt;
}

#miviva h3{
    font-weight: bold;
    font-size: 16pt;
}

#filosofia{
    margin: 0px 50px;
}

#filosofia p{
    font-size: 15pt;
}

#soydiferente{
    margin: 0px 50px;
}

#soydiferente p{
    font-size: 15pt;
}

#nosotros{
    margin: 0px 50px;
}

#nosotros .contenedor{
    display: flex;
    justify-content: space-around;
}

.tarjetayo{
    width: 45%;
    background-color: rgb(238, 237, 237);
    padding: 10px 15px;
}

.tarjetayo img{
    width: 100%;
}

.tarjetayo h3{
    font-size: 15pt;
    text-align: center;
}

#responso{
    margin: 0px 50px;
}

#responso p{
    font-size: 15pt;
}

#proxpaso{
    margin: 0px 50px;
}

#proxpaso p{
    font-size: 15pt;
}

.contenedor-ingredientes{
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}

.ingrediente{
    width: 40%;
    background-color: rgb(238, 237, 237);
    padding: 10px 15px;
}

.ingrediente img{
    width: 100%;
}

.ingrediente p{
    font-size: 13pt;
    line-height: 20px;
}

#ingredientes2,#productos p{
    font-size: 15pt;
}

#escribenos .contenedor{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

#escribenos img{
    width: 30%;
}

#escribenos textarea{
    width: 100%;
    height: 90px;
}

#escribenos p{
    font-size: 14pt;
}

#escribenos input{
    width: 100%;
}

#escribenos .enviar{
    padding: 15px 20px;
    width: 40%;
}

#escribenos form{
    width: 70%;
}

.redessociales{
    margin-left: 20px;
}

.redessociales h3{
    font-size: 20pt;
}

.redessociales a{
    color: #000;
    margin: 10px 20px;
}

.comentario{
    display: flex;
    background: rgb(238, 237, 237);
    margin-bottom: 10px;
}

.comentario img{
    width: 10%;
    border-radius: 50%;
    margin-right: 13px;
}

.contenedor-fotos{
    display: flex;
    flex-wrap: wrap;
}

.foto{
    width: 25%;
    position: relative;
    overflow: hidden;
}

.foto img{
    width: 100%;
    height: 100%;
    transition: 0.4s;
}

.oculto{
    background: rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    text-align: center;
    display: none;
}

.zoom{
    transform: scale(1.2);
    transition: 0.4s;
}

.menu .menu-icon{
    visibility: hidden;
}

@media (max-width: 800px) {
    header .contenedor .menu {
        align-items: center;

    }

    .menu img{
        width: 128px;
    }

    .menu .menu-icon{
        width: 40px;
        visibility: visible;
    }

    nav ul{
        flex-direction: column;
    }

    nav ul li{
        background-color: #aaa;
        margin-bottom: 10px;
    }

    nav ul li a{
        color: #fff;
    }

    nav{
        background: #aaa;
        width: 100%;
        position: absolute;
        margin-top: 310px;
        display: none;
        left: 0;
    }

    .Titular{
        margin-left: 10%;
    }

    iframe{
        width: 378px;
        height: 280px;
    }

    #QuienesSomosInicio .contenedor{
        flex-direction: column;
    }

    #QuienesSomosInicio .texto{
        margin-top: 0px;
    }

    #rese単ahistorica{
        margin-left: 20px;
        margin-top: 50px;
    }

    #rese単ahistorica p{
        font-size: 13pt;
    }
    
    #rese単ahistorica img{
        width: 100%;
    }

    .contenedor-ingrediente{
        flex-direction: column;
    }

    .contenedor-ingrediente .ingrediente{
        width: 90%;
        margin-bottom: 15px;
    }

    #escribenos form{
        width: 100%;
    }

    #escribenos .enviar{
        width: 100%;
    }

    #escribenos img{
        display: none;
    }

    .comentario img{
        width: 15%;
        height: 50%;
    }

    #miviva img{
        display: none;
    }

    #nosotros .contenedor{
        flex-direction: column;
        margin-left: 10px;
    }
    
    .tarjetayo{
        width: 100%;
        margin-bottom: 10px;
    }

    #filosofia p, #soydiferente p, #responso p, #proxpaso p{
        font-size: 13pt;
    }

    #miviva, #filosofia, #soydiferente, #responso, #proxpaso, #nosotros{
        margin: 0px 10px;
    }

    .foto{
        width: 50%;
    }

    .contenedor-ingredientes{
        flex-direction: column;
    }

    .contenedor-ingredientes .ingrediente{
        width: 90%;
        margin-bottom: 10px;
    }

    aside{
        display: none;
    }

    .contenedor-2{
        width: 100%;
    }
}